<div class="row">
    <div class="col-md-5">
        <img src="/images/<%= product.image %>" height="300" width="400" />
    </div>
    <div class="col-md-7">
        <h3><%= product.title %></h3>
        <p><%= product.desc %></p>
        <strong>Price : &#8377; <%= product.price %></strong>
        <br />
        <small>Discount : <%= product.discount %>%</small>
    </div>
</div>